<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Forgot Password</title>
		<link href="/css/login.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="form">
			<form action="/updatePassword" method="post" class="form">
				<div class="form-items">
					<label>Enter Email</label>
					<input type="text" name="email"/>
					<label>Enter New Password</label>
					<input type="text" name="newPassword"/>
					<label>Confirm New Password</label>
					<input type="text" name="confirmPassword"/>
					<input type="submit" value="Submit"/>
				</div>
			</form>
		</div>
	</body>
</html>