<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/navbar.css">
</head>
<body>
    <nav class="navbar" th:fragment="navbar">
        <span th:if = ${loggedIn} class="username">Hello, Username</span>
        <ul>
            <!-- You can add more links here if needed -->
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="logout"><a href="/map-logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
